<nav>
  <div class="site-title">
    <a href="/">
      <h1>BLOGGO</h1>
    </a>
    <p>A Simple Blog Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blogs</a></li>
  </ul>
</nav>