<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorem, dicta labore officiis explicabo
          consequatur quis sint delectus distinctio. Earum inventore cumque similique quaerat hic repellat voluptatibus
          dolore tempore delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos enim accusamus quam, in officiis minima
          consequatur placeat aliquid sit ducimus saepe a sapiente praesentium, porro voluptate quas. Quo, inventore
          suscipit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga officia magnam facilis sunt libero ipsam eos
          quis,
          possimus tempore hic perspiciatis minus expedita. Minima ipsum perferendis quidem facilis numquam magni!</p>
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>